.header {
  top: 0;
  left: 0;
  width: 95%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  color: gray;
  margin-right: 120px;
  font-size: 22px;
  font-weight: 900;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
